<!DOCTYPE html>
<html>

  {{ partial "head.html" . }}

  <body>

    {{ partial "header.html" . }}

    <!-- Main -->
    <div id="main-wrapper">
        <div class="container">
            <!-- Content -->
            <article class="box post">
                <div class="image featured" style="background-image: url('{{ .Site.BaseURL }}/{{ .Params.banner }}');"></div>
                <header>
                    <h2>{{ .Title }}</h2>
                    <p>{{ .Params.shortdesc }}</p>
                </header>
                {{ .Content }}
            </article>
        </div>
    </div>

    {{ partial "footer.html" . }}

  </body>

</html>
