#header-wrapper
  #header
    h1
      a(href='/') Adventure Time!
      
    if _path == "/index.html"
      section#banner
        header
          h2 Explore the Land of Ooo...
          p ...and its many kingdoms!
