<!DOCTYPE html>
<html>

  <%- partial("_partial/head") %>

  <body>

    <%- partial("_partial/header") %>

    <!-- Main -->
    <div id="main-wrapper">
        <div class="container">
        <%- body %>
        </div>
    </div>

    <%- partial("_partial/footer") %>

  </body>

</html>