<!-- Main -->
<div id="main-wrapper">
    <div class="container">
        <!--Content-->
        <article class="box post">
            <div class="image featured" style="background-image: url('<%- page.banner %>')"></div>
            <header>
                <h2><%- page.title %></h2>
                <p><%- page.shortdesc %></p>
            </header>
            <%- page.content %>
        </article>
    </div>
</div>