extends layout
        
block content
  article.box.post
    div.image.featured(style={"background-image": "url(" + post.banner + ")"})
    header
      h2= post.title
      p= post.shortdesc
    != post.body
