<!-- Footer -->
<div id="footer-wrapper">
    <section id="footer" class="container">
        <div class="row">
            <div class="8u">
                <section>
                    <header>
                        <h2>More Episodes</h2>
                    </header>
                    <ul class="dates">
                    {% for post in site.posts limit:5 offset:2 %}
                        <li>
                            <span class="date">{{ post.date | date: "%b" }} <strong>{{ post.date | date: "%-d" }}</strong></span>
                            <h3><a href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a></h3>
                            <p>{{ post.shortdesc }}</p>
                        </li>
                    {% endfor %}
                    </ul>
                </section>
            </div>
            <div class="4u">
                <section>
                    <header>
                        <h2>What's this all about?</h2>
                    </header>
                    <a href="#" class="image featured"><img src="{{site.banner | prepend: site.baseurl}}" alt="" /></a>
                    <p>{{ site.description }}</p>
                </section>
            </div>
        </div>
        <div class="row">
            <div class="12u">

                <!-- Copyright -->
                    <div id="copyright">
                        <ul class="links">
                            <li>&copy; {{ site.title }}. All rights reserved.</li><li>Design: <a href="http://html5up.net">HTML5 UP</a></li>
                        </ul>
                    </div>

            </div>
        </div>
    </section>
</div>
