<head>
    <title>{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}</title>
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <meta name="description" content="{% if page.excerpt %}{{ page.excerpt | strip_html | strip_newlines | truncate: 160 }}{% else %}{{ site.description }}{% endif %}" />
    
    <meta name="keywords" content="adventure time,cartoon network,cartoons,finn,jake,princess bubblegum" />
    <!--[if lte IE 8]><script src="css/ie/html5shiv.js"></script><![endif]-->
    <script src="{{ "/js/jquery.min.js" | prepend: site.baseurl }}"></script>
    <script src="{{ "/js/skel.min.js" | prepend: site.baseurl }}"></script>
    <script src="{{ "/js/skel-layers.min.js" | prepend: site.baseurl }}"></script>
    <script src="{{ "/js/init.js" | prepend: site.baseurl }}"></script>
    <link rel="stylesheet" href="{{ "/css/skel.css" | prepend: site.baseurl }}" />
    <link rel="stylesheet" href="{{ "/css/style.css" | prepend: site.baseurl }}" />
    <link rel="stylesheet" href="{{ "/css/style-desktop.css" | prepend: site.baseurl }}" />
    <!--[if lte IE 8]><link rel="stylesheet" href="{{ "/css/ie/v8.css" | prepend: site.baseurl }}" /><![endif]-->
  <link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}">
  <link rel="alternate" type="application/rss+xml" title="{{ site.title }}" href="{{ "/feed.xml" | prepend: site.baseurl | prepend: site.url }}" />
</head>