div(id="header-wrapper")
    div(id="header")
        h1
            a(href="/") #{ site_title }
        if current.source=='index'
            section(id="banner")
                header
                    h2 Explore the Land of Ooo...
                    p ...and its many kingdoms!