head
    meta(charset="utf-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(name="keywords" content="adventure time,cartoon network,cartoons,finn,jake,princess bubblegum")
    - var pagetitle = site.title
    if (title)
        - pagetitle += ' - ' + title
    title= pagetitle
    script(src="/assets/js/jquery.min.js")
    script(src="/assets/js/skel.min.js")
    script(src="/assets/js/skel-layers.min.js")
    script(src="/assets/js/init.js")
    link(rel="stylesheet",href="/assets/css/skel.css")
    link(rel="stylesheet",href="/assets/css/style.css")
    link(rel="stylesheet",href="/assets/css/style-desktop.css")
    link(rel="alternate", type="application/rss+xml", title="#{ site_title } RSS", href="/feed.xml")
