<!-- Footer -->
<div id="footer-wrapper">
    <section id="footer" class="container">
        <div class="row">
            <div class="8u">
                <section>
                    <header>
                        <h2>More Episodes</h2>
                    </header>
                    <ul class="dates">
                        <!-- limit 5 offset 2 -->
                    {{ range $index, $element := .Site.Pages }}
                        {{ if gt $index 1 }}
                        <li>
                            <span class="date">{{ .Date.Format "Jan" }}<strong>{{ .Date.Format "2"}}</strong></span>
                            <h3><a href="{{ .Permalink }}">{{ .Title }}</a></h3>
                            <p>{{.Description}}</p>
                        </li>
                        {{ end }}
                    {{ end }}
                    </ul>
                </section>
            </div>
            <div class="4u">
                <section>
                    <header>
                        <h2>What's this all about?</h2>
                    </header>
                    <a href="#" class="image featured"><img src="{{ .Site.BaseURL }}{{ .Site.Params.banner }}" alt="" /></a>
                    <p>{{ .Site.Params.description }}</p>
                </section>
            </div>
        </div>
        <div class="row">
            <div class="12u">

                <!-- Copyright -->
                    <div id="copyright">
                        <ul class="links">
                            <li>&copy; {{ .Site.Title }}. All rights reserved.</li><li>Design: <a href="http://html5up.net">HTML5 UP</a></li>
                        </ul>
                    </div>

            </div>
        </div>
    </section>
</div>
